*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.2rem;
    background: linear-gradient(45deg, white, #dddddd);
    font-family: sans-serif;
}


/* description */
textarea {
    border: none;
    color: grey;
    resize: none;
    background-color: transparent;
}

textarea:active,
textarea:focus,
textarea:focus-visible {
    border: none;
}

/* container */
.category {
    display: flex;
}

.drop {
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgrey;
    width: 50%;
    padding: 0 1% 0 0;
    margin: 0 1% 0 0;
    margin-top: 0;
    padding-top: 0;
}

.due-date {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1%;
    margin: 0 1% 0 0;
    margin-top: 0;
    padding-top: 0;
}

select {
    border: none;
    color: gray;
    background-color: transparent;
}

input[type="date"] {
    background-color: transparent;
}

/* date selection */
#due {
    border: none;
    color: grey;
}


/* heading */
#heading {
    margin-top: 2%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    position: relative;
    color: #535353;
}

#bg {
    display: inline-block;
    position: absolute;
    /* left: 0; */
    z-index: -1;
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, #36D1DC, #5B86E5);
    rotate: 20deg;
    margin: -5px 0 0% -1%;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: center;
}

.buttons_cmn {
    height: 3rem;
    font-size: 1rem;
    margin-right: 1.4rem;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


.btn-grad2 {
    background-image: linear-gradient(to right, #C04848 0%, #480048 51%, #C04848 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
}

.btn-grad2:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


/* tasks */
#taskContainer {
    display: flex;
    justify-content: center;
}

#taskContainer ul {
    list-style: none;
    width: 80%;
    padding: 0;
}

.tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks>div {
    display: flex;
}

input[type="checkbox"] {
    margin-right: 1rem;
    font-size: larger;
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

input[type="checkbox"]:checked+.details {
    text-decoration: line-through;
}

.details {
    color: #6a6a6a;
}

.details h4 {
    font-size: large;
}

.dates {
    color: darkgray;
    font-size: small;
}


/* color for each category */
.catCard {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding: 0.7rem;
    width: 6rem;
    height: 2.3rem;
    border-radius: 10px;
    font-size: large;
}

.Personal {
    background: linear-gradient(to right, #556270, #FF6B6B);
}

.Work {
    background: linear-gradient(to right, #B24592, #F15F79);
}

.Cleaning {
    background: linear-gradient(to right, #2980b9, #2c3e50);
}

.Others {
    background: linear-gradient(to right, #C02425, #F0CB35);
}